* {
  padding: 0px;
}

body {
  font-size: 20px;
  line-height: 27px;
}

section {
  position: relative;
}
h1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #000000;
  text-align: left;
}
.info {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #000000;
  text-align: left;
}

P {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: black;
  margin: 0 0 0.6em 0;
}

.my_photo {
  width: 500px;
  height: auto;
  float: right;
  padding: 10px;
  margin: 10px 14px auto 6px;
}

.about_me {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.education {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.work_exp {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.hobby {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

quote {
  font-family: "Open Sans", sans-serif;
  /* background-color: #ffffa9; */
  display: block;
  padding: 16px 24px;
  /* border-left: 3px solid #bf8f10; */
  line-height: normal;
}

img {
  width: 500px;
  height: auto;
  float: left;
  padding: 0px;
  margin: 30px 10px 50px 60px;
}

